//-
	This page shows details of individual dish,
	it also includes the dish reviewing possibility

extends ../layout

block content
	section#page_content
		section#page_spotlight.grid
			
			section.col-1-3
				h2 Edit review
				div(class="edit_review")
					div.rateit(id="editable_review", data-rateit-resetable="false", step="1", data-rateit-value="#{reviewdata.rating}", data-rateit-ispreset="true")
					form(id="edit_review_form" method="post", class="tasty-form")
						ul
							li
								textarea(name="reviewText", id="reviewText") #{reviewdata.text} 
								input(type="number" min="1" max="5" step="1" value="#{reviewdata.rating}" name="ratingValue" id="ratingValue" class="no-script-rating")
								input(type="hidden", id="reviewid" name="reviewid", value="#{reviewdata._id}")
							li
								button(type="submit", name="edit_review", id="edit_review_btn", class="submit") Edit review
					a(href="/dashboard") Back to dashboard