//-
	This is the master layout file,
	it includes the header of all other templates

doctype html
html
	head
		title= title
		meta(charset="utf-8")
		link(href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/rateit.css')
		script(src="/javascripts/jquery-1.11.0.min.js")
		script(src="/javascripts/jquery.rateit.min.js")
		script(src="/javascripts/rating.js")
		script(src="/javascripts/jQuery.jPanel.1.4.min.js")
		script(src="/javascripts/dasboard.js")
		script(src="/javascripts/notifier.js")

	body
		section#page_header
			header			
			form(action='/search', method='post' id='searc_form', enctype="multipart/form-data", data-ajax='false')
				input(type="text", placeholder="search", id="search", name="search")
				input(type='submit', value='Send')

			nav#page_navigation
				if session.user
					span 
						a(href="/dashboard") #{session.username}
					span  / 
					a(href="/logout") Logout
				else
					a(href="/login") Login
					span  / 
					a(href="/register") Registration
				if (session.level == 2)
					span  /  
					a(href="/dish/new") Add a new dish

		section#hiideri
			a(href="/") Home</a>   
			a(href="/restaurants") Restaurants</a>   
			a(href="/dishes") Dishes</a>

		block content

