//-
	This is a page to show logged in user's information.
	This page is know as "the Dashboard". It has links for editing users information such as
	change image, password etc.

	Note: The layout can be ripped of from the dish/index.jade almost completely

extends ../layout

block content

	section#page_content
		section#dish-details.grid
			
			section.col-1-3
			
				img(src="/images/users/#{userdata.photopath}", width="50")
				div(class="collapsible", id="collapsible_panel", title="Change password")
					form(id="password_change_form", method="post", class="tasty-form")
						ul
							li
								label Recent password
								input(type="password", id="password_recent", required)
							li
								label New password
								input(type="password", id="password_new1", required)
							li
								label Confirm new password
								input(type="password", id="password_new2", required)
							li
								button(type="submit", class="submit", value="Change", id="password_change_submit") Change
				
			section.col-1-3
				div(id="restaurant_info_div")
					include form
			section.col-1-3
				if(userdata.level == 3)
					a(href="/users") Show users	
		div(id="ajax_loader")
			img(src="/images/throbber.gif")			
		section#page_rating_lists.grid
			section#user-top-rated-dishes-list.col-1-2
				if(userdata.level == 2)
					if(reviewdata.length > 0)
						h2 Your dishes have been reviewed #{reviewdata.length} times
						table(id="restaurant_reviews_table", cellspacing="10")
							tr
								th Dish
								th User
								th Rating
								th Rated
							each item in reviewdata
								tr
									td 
										a(href="/dish/#{item.dish._id}") #{item.dish.name}
									td 
										a(href="/profile/#{item.user._id}") #{item.user.username}
									td
										div.rateit(data-rateit-readonly="true", data-rateit-value="#{item.rating}")
									td #{item.added.toLocaleDateString()}
					else
						h2 No reviews made
				else
					if(reviewdata.length > 0)
						h2 You have made #{reviewdata.length} reviews
						table(id="reviews_table", cellspacing="10")
							tr
								th Dish
								th Rating
								th Updated
							each item, index in reviewdata
								tr
									td
										a(href="/dish/#{item.dish._id}") #{item.dish.name}
									td
										div.rateit(data-rateit-readonly="true", data-rateit-value="#{item.rating}")
									td #{item.updated.toLocaleDateString()}
									td 
										a(href="/dashboard/getreview/#{item._id}")
											img(src="images/edit2.png", title="Edit review", alt="Edit review")
						
			section#user-top-rated-dishes-list.col-1-2
				if(userdata.level == 1)
					h2 Newly added dishes
				else if(userdata.level == 2)
					h2 Your newly added dishes
				if (latestDishes)
					each dish in latestDishes
						ul
							li.dish-list-item.grid
								header.col-1-4
									img(src="/images/dishes/#{dish.photopath}")
									div.rateit(data-rateit-readonly="true", data-rateit-value="#{dish.points/dish.reviews}")
							
								section.col-3-4
									h3 #{dish.name}
									p #{dish.description}
									if(userdata.level == 1)
										p
											a(href="/dish/#{dish._id}") Review and read more
