/*
	Basic Styles for Desktop/Laptop Browsers
	
	Note: This stylesheet is affected by the reset stylesheet
*/
	
@import url("http://fonts.googleapis.com/css?family=Lily+Script+One")
	
body
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF

h1,h2,h3
	margin-bottom:1em

#hiideri
	font-size:1.5em
	background-color:#373737
	color:#FFF
	font-family: "Condiment", cursive
	a
		color:#FFF
		text-decoration:none
	text-align:left
	padding:10px 0px 0px 30px
		
#page_header
	min-width: 900px
	padding:30px 30px 10px 30px
	background-color:#000
	color:#FFF
	
	header
		text-align:center
	
		h1
			font-size:3em
			margin:0
			font-family: "Condiment", cursive
			a
				color:#FFF
				text-decoration:none
	
	nav
		text-align:right
	input
		display:inline
		padding:0
		margin:0
		position:relative
		top:1.5em
	

#page_content
	padding: 50px
	min-width: 900px
	
#page_spotlight
	border-bottom: 0.5em solid #00B7FF
	border-radius: 1em
	-webkit-border-radius: 1em
	-moz-border-radius: 1em 
	padding-bottom:4em
	
	p
		margin-bottom:1em

	img
		width: 100%
		-webkit-box-shadow: 0 8px 6px -6px black
		-moz-box-shadow: 0 8px 6px -6px black
		box-shadow: 0 8px 6px -6px black
		
	section
		h1
			font-size:2em
			font-family: "Condiment", cursive
		
#page_rating_lists
	margin-top:4em
	border-top: 0.5em solid #00B7FF
	h2
		margin:1em 0 0 0
		font-size:2em
		font-family: "Condiment", cursive

.dish-list-item
	margin-top:2em
	background-color: #FAFAFA;
	padding:1em
	border-radius: 1em
	-webkit-border-radius: 1em
	-moz-border-radius: 1em
	
	.rateit
		margin: 1em 0 0 0
		
	h3
		font-size:1.2em
	p
		font-size:0.9em
		margin-bottom:1em
	img
		width: 85%
		-webkit-box-shadow: 0 8px 6px -6px black
		-moz-box-shadow: 0 8px 6px -6px black
		box-shadow: 0 8px 6px -6px black
		
#reviews
	border-top: 0.5em solid #00B7FF
	padding-top: 1em
	margin-top:4em
	h2
		font-size:1.4em
		
	article
		background-color: #FAFAFA;
		min-height:150px
		margin-top:1em
		border-radius: 1.5em
		-webkit-border-radius: 1.5em
		-moz-border-radius: 1.5em
		
		h3
			font-size:1.1em
			font-style: italic
			margin:0 0 0.2em 0
		
		h3:first-letter
			text-transform: uppercase
			
		time
			display:block
			font-size:0.8em
			margin-bottom: 1.5em
		
		.reviewer_details
			float:left
			padding:1em
		
		.review_detail
			margin-left: 180px
			padding:1em
			
		.rateit
			margin-bottom: 1em
			
		.review-text
			margin-top: 1em
		
		img
			max-height:120px
			max-width:150px
			-webkit-box-shadow: 0 8px 6px -6px black
			-moz-box-shadow: 0 8px 6px -6px black
			box-shadow: 0 8px 6px -6px black

.emph-title
	padding: 1em
	font-size:2em
	
#dish-details
	padding:2em 2em 3em 2em
	background-color: #FAFAFA;
	border-radius: 1.5em
	-webkit-border-radius: 1.5em
	-moz-border-radius: 1.5em

	p
		margin-bottom:1em

	img
		width: 100%
		-webkit-box-shadow: 0 8px 6px -6px black
		-moz-box-shadow: 0 8px 6px -6px black
		box-shadow: 0 8px 6px -6px black

	h1
		font-size:2em
		margin:0
		font-family: "Condiment", cursive
	
	.rateit
		margin-bottom: 20px
		
	.dish-show-restaurant-details, .dish-show-keywords
		font-size:0.8em
		font-style:italic
		color: #787878
		line-height: 0.5
		
	
#search_lists
	h2
		margin:0.5em 0 0 0
		font-size:3em
		font-family: "Condiment", cursive
		
	h3
		margin:1em 0 0.5em 0
		font-size:1.8em			
		font-family: "Condiment", cursive
		
	p
		margin-bottom:1em
		
	img
		height:120px
		
	ul
		list-style-type:none;
		list-style-position:outside;
		margin:0 auto;
		padding:0px;

	li
		margin-top:0.9em
		border-bottom:1px solid #eee
		position:relative
		