*:focus
	outline: none

:-moz-placeholder
	color: gray
 
::-webkit-input-placeholder
	color: gray


.tasty-form
		padding: 1em
		
		h2
			font-size:2em
			margin:0
			display: inline
			
		ul
			list-style-type:none;
			list-style-position:outside;
			margin:0 auto;
			padding:0px;

		li
			padding:1em
			border-bottom:1px solid #eee
			position:relative
		
		li:last-child
			border: none
		
		label
			width:150px
			margin-top: 3px
			display:inline-block
			float:left
			padding:3px
			
		input
			height:25px
			width:220px 
			padding:5px 8px
			display:inline
		
		textarea
			padding:8px; width:300px;
		
		input, textarea 
			border:1px solid #aaa
			box-shadow: 0px 0px 2px #ccc, 0 5px 10px #eee inset
			border-radius:2px
			-moz-transition: padding .25s
			-webkit-transition: padding .25s
			-o-transition: padding .25s
			transition: padding .25s	
		
		input:focus, textarea:focus
				background: #fff
				border:1px solid #555
				box-shadow: 0 0 3px #aaa
				padding-right:70px

		input:required, textarea:required
			background: #fff url("/images/layout/red-asterisk.png") no-repeat 98% center
			
		input:focus:invalid, textarea:focus:invalid
			background: #fff url("/images/layout/invalid.png") no-repeat 98% center;
			box-shadow: 0 0 5px #d45252;
			border-color: #b03535
			
		input:required:valid, textarea:required:valid
			background: #fff url("/images/layout/valid.png") no-repeat 98% center
			box-shadow: 0 0 5px #5cd053
			border-color: #28921f

		input:focus + .tasty-form-hint
			display: inline
		/*	
		input:required:valid + .tasty-form-hint
			text-decoration: underline
		*/
		input:required:valid + .tasty-form-hint::before
			color:#28921f
			box-shadow: 0
			transition: 0		
			
		input[type="file"]
			border:none
			box-shadow:none
			height:30px
							
		button
			margin-left:150px
		button.submit
			background-color: #68b12f
			background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e))
			background: -webkit-linear-gradient(top, #68b12f, #50911e)
			background: -moz-linear-gradient(top, #68b12f, #50911e)
			background: -ms-linear-gradient(top, #68b12f, #50911e)
			background: -o-linear-gradient(top, #68b12f, #50911e)
			background: linear-gradient(top, #68b12f, #50911e)
			border: 1px solid #509111
			border-bottom: 1px solid #5b992b
			border-radius: 3px
			-webkit-border-radius: 3px
			-moz-border-radius: 3px
			-ms-border-radius: 3px
			-o-border-radius: 3px
			box-shadow: inset 0 1px 0 0 #9fd574
			-webkit-box-shadow: 0 1px 0 0 #9fd574 inset
			-moz-box-shadow: 0 1px 0 0 #9fd574 inset
			-ms-box-shadow: 0 1px 0 0 #9fd574 inset
			-o-box-shadow: 0 1px 0 0 #9fd574 inset
			color: white
			font-weight: bold
			padding: 6px 20px
			text-align: center
			text-shadow: 0 -1px 0 #396715
		button.submit:hover
			opacity:.85
			cursor: pointer
		button.submit:active
			border: 1px solid #20911e
			box-shadow: 0 0 10px 5px #356b0b inset
			-webkit-box-shadow:0 0 10px 5px #356b0b inset
			-moz-box-shadow: 0 0 10px 5px #356b0b inset
			-ms-box-shadow: 0 0 10px 5px #356b0b inset
			-o-box-shadow: 0 0 10px 5px #356b0b inset
		img
			display:block
			margin-left:150px

.tasty-form-hint
	font-size: 11px
	margin-left:2em
  background: #d45252
  border-radius: 3px 3px 3px 3px
  color: white
  padding: 1px 6px
  z-index: 999
  position: absolute
  display: none

.tasty-form-hint::before
	display: none
	content: "\25C0"
	color:#d45252
	position: absolute
	top:1px
	left:-6px

.tasty-form-required-notification
	font-size: 11px
	color:#d45252 
	margin:5px 0 0 0
	display:inline
	float:right