*, *:after, *:before
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

[class*='col-']
	float: left
	padding-right: 20px
	
	:last-of-type
		padding-right: 0

// Half divisions
.col-1-2
	width: 50%

// Thirds divisions
.col-1-3
	width: 33.33%

.col-2-3
	width: 66.66%
	
// Quarter divisions
.col-1-4
	width: 25%

.col-2-4
	width: 50%

.col-3-4
	width: 75%
	
	
.grid:after
	content: ""
	display: table
	clear: both