//-
	This is an index-page, i.e. the frontpage for dishes,
	this template is also used as the frontpage of the app

extends ../layout

block content

	section#page_content

		if(highlightDish)

			section#dish-details.grid
				section.col-1-3
					img(src="/images/dishes/#{highlightDish.photopath}")

				section.col-2-3
					h1 #{highlightDish.name}
					div.rateit(data-rateit-readonly="true", data-rateit-value="#{highlightDish.rating}")

					span.dish-show-restaurant-details
						p  by #{highlightDish.restaurant.longname} 
						p #{highlightDish.restaurant.street_address}, #{highlightDish.restaurant.city}, #{highlightDish.restaurant.country}
					p Search with: 
						each keyword in highlightDish.keywords
							a(href="/search/#{keyword}") #{keyword}</a> 
					p Price: #{highlightDish.price} &euro;
					p Cook's Greetings: #{highlightDish.description}

					p
						a(href="/dish/#{highlightDish._id}") Review and read more

					if (session.user == highlightDish.restaurant._id)
						p
							a(href="/dish/#{highlightDish._id}/edit") Edit dish
				
		section#page_rating_lists.grid
			section#top-rated-dishes-list.col-1-2
				h2 Top Rated Dishes
				if (topDishes)
					each dish in topDishes
						ul
							li.dish-list-item.grid
								header.col-1-4
									img(src="/images/dishes/#{dish.photopath}")
									div.rateit(data-rateit-readonly="true", data-rateit-value="#{dish.points/dish.reviews}")
							
								section.col-3-4
									h3 #{dish.name}
									p by #{dish.restaurant.longname}
									p #{dish.description}
									if (session.user == dish.restaurant._id)
										p
											a(href="/dish/#{dish._id}") Read more
											span  or  
											a(href="/dish/#{dish._id}/edit") edit the dish
									else
										p
											a(href="/dish/#{dish._id}") Review and read more
				else
					p No dishes 
						a(href="/dish/new") go add some 
						

			section#newly-added-dishes-list.col-1-2
				h2 Newly Added Dishes
				if (newlyAddedDishes)
					each dish in newlyAddedDishes
						ul
							li.dish-list-item.grid
								header.col-1-4
									img(src="/images/dishes/#{dish.photopath}")
									div.rateit(data-rateit-readonly="true", data-rateit-value="#{dish.points / dish.reviews}")
							
								section.col-3-4
									h3 #{dish.name}
									p by #{dish.restaurant.longname}
									p #{dish.description}
									if (session.user == dish.restaurant._id)
										p
											a(href="/dish/#{dish._id}") Read more
											span  or  
											a(href="/dish/#{dish._id}/edit") edit the dish
									else
										p
											a(href="/dish/#{dish._id}") Review and read more
				else
					p No dishes 
						a(href="/dish/new") go add some 