//-
	This page shows details of individual dish,
	it also includes the dish reviewing possibility

extends ../layout

block content

	section#page_content

		if (dish)

			section#dish-details.grid
				section.col-1-3
					img(src="/images/dishes/#{dish.photopath}")

				section.col-2-3
					h1 #{dish.name}
					div.rateit(data-rateit-readonly="true", data-rateit-value="#{dish.points / dish.reviews}")

					span.dish-show-restaurant-details
						p  by #{dish.restaurant.longname} 
						p #{dish.restaurant.street_address}, #{dish.restaurant.city}, #{dish.restaurant.country}
					p Search with: 
						each keyword in dish.keywords
							a(href="/search/#{keyword}") #{keyword}</a> 

					p Price: #{dish.price} &euro;
					p Cook's Greetings: #{dish.description}

					if (session.user == dish.restaurant._id)
						p
							a(href="/dish/#{dish._id}/edit") Edit dish
			
			if(session.user && !userHasReviewed && (session.level == 1 || session.level > 2))
				section#review
					h2 Review This Dish
					div.rateit(data-rateit-resetable="false", step="1")
					form#review-form(action="/dish/#{dish._id}/review", method="post")
						input(type="hidden", name="dishId", id="dishId",  value="#{dish._id}")
						textarea(name="reviewText", id="reviewText")
						input(type="number" min="1" max="5" step="1" value="0" name="ratingValue" id="ratingValue" class="no-script-rating")
						br
						input(type="submit", name="add_review", value="Add My Review")

			if (reviews)
				section#reviews
					h2 Reviews
					each review in reviews
						article
							section.reviewer_details
								img(src="/images/users/#{review.user.photopath}")
							section.review_detail
								h3 #{review.user.username} says:
								time #{review.added.toDateString()}
								div.rateit(data-rateit-readonly="true", data-rateit-value="#{review.rating}")
								p.review-text #{review.text}
								
		else
			h1 Oh my! Dish not found! I hope you  weren't hungry!